body{
  font-family: Sans-Serif;
  margin: 0;

background-color: #bab3a8;
color:grey;

}


h1{
    text-align: center;
}

h3{
    text-align: center;
}

nav{
    text-align: center;
}

footer{
    text-align: center;
}

img{
    width:650px;
    height:400px;
  border-radius:5px;
}

 
