body{
  font-family: Sans-Serif;
  margin: 0;
  background-color: #bab3a8;
color:#595959;
}
  header{
background-color: #473a34;
color: orange; 
}
.p{
    text-align:center;
}


h1{
    text-align: center;
    font-size:32px;
}

h3{
    text-align: center;
    font-size:26px;
}
h2{
    font-size:28px;
    text-align:center;
}
p{
    font-size:22px;
}
nav{
    text-align: center;
    padding:20px;
}

footer{
    text-align: center;
    padding:20px;
    color:black;
}
.p img{
    width:650px;
    height:450px;
}
img{
    width:650px;
    height:400px;
}
.second img{
    text-align: center;
    width:500px;
    height:500px;
}
main{
    padding:20px;
    margin:5px;
}
 
